#page-signup {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--color-primary);

  display: flex;
  justify-content: center;
  align-items: center;
}

#page-signup .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#page-signup .hero-img {
  width: 50%;
}

#page-signup .logo-img {
  width: 50%;
  margin-top: 1.5rem;
}

#page-signup .signup-form {
  width: 80%;
  margin-top: 3.6rem;

  display: flex;
  flex-direction: column;
}

#page-signup .signup-form input {
  font-size: 2rem;
  line-height: 3.6rem;
  font-family: var(--button-font);

  padding: 1rem 2.6rem;
  border: none;
  border-radius: 0.8rem;
  outline: none;

  transition: box-shadow 0.2s;
}

#page-signup .signup-form input:focus {
  box-shadow: 0 0 8px #00000080;
}

#page-signup .signup-form input + input {
  margin-top: 2rem;
}

#page-signup .signup-form input + input + input {
  margin: 2rem 0;
}

#page-signup .signup-form button {
  font-size: 2rem;
  font-weight: bold;
  line-height: 3.6rem;
  font-family: var(--button-font);

  color: var(--color-text-in-dark);
  background-color: var(--color-secondary);

  border: none;
  border-radius: 0.8rem;
  padding: 1rem 0;
  outline: none;

  cursor: pointer;
  transition: box-shadow 0.5s;
}

#page-signup .signup-form button:hover {
  box-shadow: 0 0 8px #00000080;
}

#page-signup footer {
  width: 80%;

  color: var(--color-text-in-dark);
  font-size: 1.6rem;
  line-height: 2.4rem;

  margin-top: 1rem;
}

#page-signup footer a {
  display: flex;
  align-items: center;

  color: var(--color-text-in-dark);
  text-decoration: none;

  transition: color 0.2s;
}

#page-signup footer a:hover {
  color: var(--color-secondary);
}

#page-signup footer a span {
  margin: 0.4rem;
}

@media (min-width: 750px) {
  #page-signup-content.container {
    max-width: 1100px;

    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'logo hero'
      'form hero'
      'footer hero';
  }

  #page-signup .logo-img {
    grid-area: logo;
    align-self: center;
    justify-self: center;
    margin: 0;
  }

  #page-signup .hero-img {
    grid-area: hero;
    align-self: center;
    justify-self: center;
  }

  #page-signup .signup-form {
    grid-area: form;
    align-self: center;
    justify-self: center;
  }

  #page-signup footer {
    grid-area: footer;
    justify-self: center;
  }
}
